<nav class="navbar" style="background-color: #277BC0;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>

        <div class="position-sticky">
            {% if user.is_authenticated %}
            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
        </div>
            <div class="position-sticky">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </div>

               {% else %}
            <a class="nav-link" href="{% url 'register' %}">Register</a>
            <a class="nav-link" href="{% url 'home' %}">Login</a>

            {% endif %}

        </div>

    </div>
</nav>