
<nav class="navbar" style="background-color: #277BC0;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>

        <div class="position-sticky">
            {% if user.is_authenticated %}
            <div class="position-sticky">
            <a class="btn btn-success" href="{% url 'add_record' %}">Add Record</a>
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>

               {% else %}
             <div class="position-sticky">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
            <a class="nav-link" href="{% url 'home' %}">Login</a>
            </div>
            {% endif %}


        </div>
    </div>
</nav>